<a href="https://colab.research.google.com/github/maleksaati/Analysis-of-Seattle-AirBnB-Dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%time

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs

In [3]:
print('Table of squares')
for i in range(10):
  print(f'{i} times {i} = {i*i}')

Table of squares
0 times 0 = 0
1 times 1 = 1
2 times 2 = 4
3 times 3 = 9
4 times 4 = 16
5 times 5 = 25
6 times 6 = 36
7 times 7 = 49
8 times 8 = 64
9 times 9 = 81